Daily Task Digest Automation.json
{
  "name": "Daily Task Digest Automation",
  "nodes": [
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1lBjXdGo32llaxBQt0j8a3fVhn8JAGZNgiwTIUn_ug0k",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "id"
        },
        "options": {}
      },
      "id": "7ec2593f-ee7b-433c-8341-de31e992d011",
      "name": "Read Tasks from Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        464,
        448
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "7PdNz7uxvRlRsUfE",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "1",
              "leftValue": "={{ $json.status }}",
              "rightValue": "completed",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "e1e2ab5c-df88-4e9b-9dc6-7359da9f563b",
      "name": "Keep Only Pending Tasks",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        688,
        448
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1",
              "name": "task",
              "value": "={{ $json.task_name }}",
              "type": "string"
            },
            {
              "id": "2",
              "name": "due",
              "value": "={{ $json.due_date }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "9a5971fd-4d07-430c-89ab-6a4af5787c47",
      "name": "Extract Task Fields",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        912,
        448
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1",
              "name": "formatted",
              "value": "=- {{ $json.task }} (Due: {{ $json.due }})",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "8fc1dd58-615d-4340-8210-5c7fa953aa08",
      "name": "Format Task Line",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1360,
        496
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "1d10a66a-6ded-425e-a3df-68789bf4b0f8",
      "name": "Loop Over Tasks",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1136,
        448
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1",
              "name": "digest",
              "value": "=Daily Task Digest - {{ $now.toFormat(\"MMMM d, yyyy\") }}\n\n{{ $input.all().map(item => item.json.formatted).join(\"\\n\") }}\n\nTotal pending tasks: {{ $input.all().length }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "a7de008d-36e5-4467-9ad8-f66c42d93562",
      "name": "Build Digest Message",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1360,
        304
      ]
    },
    {
      "parameters": {
        "sendTo": "annecaroljonson1108@gmail.com",
        "subject": "=Daily Task Digest - {{ $now.toFormat(\"MMMM d, yyyy\") }}",
        "emailType": "text",
        "message": "={{ $json.digest }}",
        "options": {}
      },
      "id": "e33ec655-5bb3-4e84-b3d4-a2fb6ab998b4",
      "name": "Send Daily Digest Email",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1584,
        304
      ],
      "webhookId": "f5a2a8a8-94e0-4f90-9d13-bbc5c65b5688",
      "credentials": {
        "gmailOAuth2": {
          "id": "IDDjB7IGT0fnftpJ",
          "name": "Gmail OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 8
            }
          ]
        }
      },
      "id": "11e3f58d-bb62-4fdc-8525-f152ec2d9f06",
      "name": "Daily at 8 AM",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        240,
        448
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Read Tasks from Sheet": {
      "main": [
        [
          {
            "node": "Keep Only Pending Tasks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Keep Only Pending Tasks": {
      "main": [
        [
          {
            "node": "Extract Task Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Task Fields": {
      "main": [
        [
          {
            "node": "Loop Over Tasks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Task Line": {
      "main": [
        [
          {
            "node": "Loop Over Tasks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Tasks": {
      "main": [
        [
          {
            "node": "Build Digest Message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Format Task Line",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Digest Message": {
      "main": [
        [
          {
            "node": "Send Daily Digest Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Daily at 8 AM": {
      "main": [
        [
          {
            "node": "Read Tasks from Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "d30f6153-5bcc-4e03-8824-60917e3d259e",
  "meta": {
    "instanceId": "649459bbac320f994c5774f795d79b35f65db9585c78a2d6292136880fa583a1"
  },
  "nodeGroups": [],
  "id": "yk0XhX9bHwaQnl8e",
  "tags": []
}